.registor{
  background-image: linear-gradient(rgba(20, 26, 26, 0.7), rgba(8, 9, 10, 0.7)), url(../src/img/bgimg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.registor h2{
    white-space: nowrap !important;
}

